.App {
  font-family: sans-serif;
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background: #ecf1f4;
  font-family: sans-serif;
}
.social {
  display: flex;
  justify-content: space-between;
}
.sign {
  margin: 0px 0px;
}

.form-wrap {
  width: 500px;
  background: white;
  padding: 20px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.line {
  width: 203px;
  height: 0;
  border: 1px solid #c4c4c4;
  margin: 3px;
  display: inline-block;
}
.line1 {
  display: inline-block;
  padding: 10px;
}
h1 {
  text-align: center;
  color: black;
  font-weight: normal;
  margin-bottom: 20px;
}

h3 {
  padding-top: 50px;
  font-weight: 200;
  font-size: 30px;
}

p {
  font-size: 12px;
  padding: 10px;
}

input {
  width: 100%;
  background: none;
  border: 1px solid grey;
  border-radius: 3px;
  padding: 6px 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  color: grey;
}

input[type="button"] {
  background: #4dabf5;
  border: 0;
  cursor: pointer;
  color: white;
}
input[type="button"]:hover {
  background: #4dabf5;
  transition: 0.6s;
}

::placeholder {
  color: grey;
}
